#links{
  display: none;
}
#ham{
  display: none;
}
#links{
  display: none;
}
#nav-menu{
  margin: 0%;
  position: fixed;
  width: 100%;
  z-index: 3;
}

@media screen and (max-width: 800px )and (min-width: 451px) {
  /* Show the mobile menu */
  

  /* #links{
      display: flex;
      position: fixed;
  } */
  #ham{
    display: flex;
    left: 0;
    
  }
  #navlink{
    display: none;
  }
  #nav-menu{
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 3;
  }
  #resume-button-1{
    margin-left: 0px;
  }
}


@media screen and (max-width: 450px) {
 
  #ham{
    display: flex;
    left: 0;
    
  }
  #navlink{
    display: none;
  }
  #nav-menu{
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 3;
  }
  #resume-button-1{
    margin-left: 0px;
  }
}